p{
    color:red;
    font-size:22pt;

}
#gruby_maslii{
    color: green;
    font-size: 17pt;
}
#dlawszystkich_maslii{
    color:yellowgreen;
    font-size:10pt;
    font-family:Arial ;
}