#pierwszy_maslii{
    width: 752pt;
    margin: 0 auto;
    background-color: lightgreen;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-color: black;
    border-style:solid;
    border-width: 3px;
}

#drugi_maslii{
    width:952pt;
    margin: 0 auto;
    background-color: lightblue;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-color: darkblue;
    border-style: solid;
    border-width: 5px;
    
}

#trzeci_maslii{
width:1152pt;
background-color: pink;
border:18px;
border-color: purple;
border-style: solid;
border-width: 7px;

}

p{
    font-size: 11pt ; 
}
p:first-child{
    font-size:7mm;
    font-style:italic;
}
/*Maslii Z65_CSS */